<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
  </head>
 <body>
    <header>
      <h1>Email recebido de {{ name }}</h1>
    </header>
    <main>
      <div class="mainBody">
        <div class="center-box">
          <h1>Conteúdo da mensagem:</h1>
            <p>{{ emailContent }}</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>